.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 0;
    border-bottom: 1px solid white;
    z-index: 1000;
    transition: background-color 0.3s ease;

    .nav-bar__container {
        max-width: 1200px;
        margin: 0 auto;
        max-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar__menu ul,
    .nav-bar__menu2 ul {
        list-style-type: none;
        display: flex;
    }

    .nav-bar__menu li,
    .nav-bar__menu2 li {
        margin-right: 20px;
    }

    .nav-bar__menu a,
    .nav-bar__menu2 a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .nav-bar__menu a:hover,
    .nav-bar__menu2 a:hover {
        text-decoration: underline;
    }

    .nav-bar__logo img {
        max-width: 75px;
        max-height: 75px;
        border-radius: 50%;
        border: 1px solid black;
        filter: invert(1);
    }
}
